<div class="Filmpage">
  <h2 class="nameFilm">{{film.name}}</h2>

  <div class="play">
    <video id="player"controls (click)="toggleVideo()" [src]="film.movie" #videoPlayer width="100%" height="100%" >
      <!--<source id ="source" [src]="film.movie" type="video/mp4" />-->
      Browser not supported
    </video>
  </div>
  <b>{{film.movie}}</b>

  <div class="Sound">
    <!--<h2 style="margin-left: 40%">Soundtracks</h2>-->
    <!--<a routerLink="sound" class="btn btn-secondary btnSound">About Film ▼</a>-->
    <!--<a routerLink="sound" class="btn btn-secondary btnSound">Soundtracks ▼</a>-->
    <!--<hr>-->
    <ul>
      <li><a routerLink="description">About Film</a></li>
      <li><a routerLink="sound" class="active">Soundtrack</a></li>
      <li><a routerLink="screenshots">ScreenShots</a></li>
      <li><a routerLink="starring">Starring</a></li>
    </ul>

    <router-outlet></router-outlet>
  </div>


  <a href="/"  style="margin-left: 10%; width: 100px" class="btn btn-secondary">Trailer</a>






</div>

