<div class="Filmpage">
  <h2 class="nameFilm">The Dark Knight</h2>
  <div class="FilmPart">
    <div class="imgFilm"><img src="assets\dark.jpg" height="100%" width="100%" alt=""></div>
    <div class="descFilm">The Dark Knight is a 2008 superhero film directed, co-produced, and co-written
      by Christopher Nolan. Based on the DC Comics character Batman, the film is the second installment of Nolan's
      to dismantle organized crime in Gotham City, but are menaced by an anarchist mastermind known as the Joker (Ledger), who
      seeks to undermine Batman's influence and turn the city to chaos
      <div class="shortinf"><b>Year of release :</b> <p></p></div>
      <div class="shortinf"><b>Country:</b> <p></p></div>
      <div class="shortinf"><b>Genre:</b> <p></p></div>
      <div class="shortinf"><b>Quality:</b> <p></p></div>

      <div class="shortinf"><b>Translation:</b> <p></p></div>
      <div class="shortinf"><b>Duration:</b> <p ></p></div>
    </div>
  </div>
  <a href="/"  style="margin-left: 10%; width: 100px" class="btn btn-secondary">Trailer</a>
  <div class="roles">
    <div class="rol"><div class="rolImg"><img src="assets\a1.jpg" alt="" width="100%" height="90%"></div>Christian Bale</div>
    <div class="rol"><div class="rolImg"><img src="assets\a2.jpg" alt="" width="100%" height="90%"></div>Heath Ledger</div>
    <div class="rol"><div class="rolImg"><img src="assets\a3.jpg" alt="" width="100%" height="90%"></div>Gary Oldman</div>
    <div class="rol"><div class="rolImg"><img src="assets\a4.jpg" alt="" width="100%" height="90%"></div>Michael Caine</div></div>
  <div class="frames">
    <div class="frimg"><img src="assets\b1.jpg" alt="" width="100%" height="100%"></div>
    <div class="frimg"><img src="assets\b2.jpg" alt="" width="100%" height="100%"></div>
    <div class="frimg"><img src="assets\b3.jpg" alt="" width="100%" height="100%"></div>
    <div class="frimg"><img src="assets\b4.jpg" alt="" width="100%" height="100%"></div>
  </div>

  <div class="play">
    <video src="">Video</video></div>




<div class="Sound">
  <h2 style="margin-left: 40%">Soundtracks</h2>
  <a routerLink="sound" class="btn btn-secondary btnSound">Soundtracks ▼</a>
  <hr>
  <router-outlet></router-outlet>
</div>

</div>


