
.Filmpage{
  width: 80%;
  background: rgba(128, 132, 128, 0.92);
  display: inline-block;
  margin-left: 10%;
  margin-top: 3%;
  border: 1px solid white;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}




.nameFilm{
  margin-left:37%;
  text-shadow: -1px -1px #000,
  0 1px 0 #444;
  color: #e4e4e4;
}







.sound{
  width: 100%;
}
.btnSound{
  margin: 0 auto;
  margin-left: 42%;
}
.play{
  width: 90%;
  height: 450px;
  border: 1px solid red;
  margin: 0 auto;
}


a {
  display: block;
  padding: 8px;
  background-color: #545454;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
  display: inline-block;
  width: 50%;
  margin-top: 2%;
  margin-left: 30%;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5%;

}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
