<div class="FilmPart">
  <div class="imgFilm"><img  [src]="currentFilm.picture" height="100%" width="100%" alt=""></div>
  <div class="descFilm">{{currentFilm.aboutFilm}}
    <div class="shortinf"><b>Year of release :</b> <i>{{currentFilm.year}}</i></div><br>
    <div class="shortinf"><b>Country: </b> <i>{{currentFilm.country}}</i></div><br>
    <div class="shortinf"><b>Genre: </b> <i>{{currentFilm.genre}}</i></div><br>
    <div class="shortinf"><b>Quality: </b> <i>{{currentFilm.quality}}</i></div><br>

    <div class="shortinf"><b>Translation: </b><i>{{currentFilm.country}}</i></div><br>
    <div class="shortinf"><b>Duration: </b> <i>{{currentFilm.quality}}</i></div><br>
  </div>
</div>
