
.FilmPart{
  display: block;
  margin-bottom: 2%;
  height: 370px;
}
.imgFilm{
  width: 25%;
  height: 350px;

  display: inline-block;
  margin-right: 5px;
  float: left;
  margin-left: 2%;

}
.descFilm {

  width: 65%;
  display: inline-block;

}
.shortinf{

  width: 50%;
}
