<div class="FilmPart">
  <div class="imgFilm"><img  [src]="currentFilm.picture" height="100%" width="100%" alt=""></div>

    <div class="shortinf"><b>Year of release :</b> <i>{{currentFilm.year}}</i></div><br>
    <div class="shortinf"><b>Country: </b> <i>{{currentFilm.country}}</i></div><br>
    <div class="shortinf"><b>Genre: </b> <i>{{currentFilm.genre}}</i></div><br>
    <div class="shortinf"><b>Quality: </b> <i>{{currentFilm.quality}}</i></div><br>
    <div class="shortinf"><b>Translation: </b><i>{{currentFilm.country}}</i></div><br>
    <div class="shortinf"><b>Duration: </b> <i>{{currentFilm.quality}}</i></div><br>
    <div class="descFilm">{{currentFilm.aboutFilm}}
      <p>bdvkjBkjdsbzvkjbKJSDBVKjbsdKJVkHBZVKjbDKVZBkSDBVZK
        JDBVkjdbzkxjvbkJDBVjkbzxkjb KZBV :KJZV
        NVKJZxbkcbZXJBCxkjBZ kbZB XkZbx kjxnzbnbzxknbzxkn bkzxnb kxznb kzBVhnzvx zx.mb
        VBZHJxvxbz bzx bznx bmnzxb mnzxb mnzxb zxb zxb bzx.
        bzxhjb mbzxnb zxb nzxb mzbxm bmbx mвмилю ютвчи мт чтсчияс чт тичьсм чт ьтячтчст тч тс ьсчт чтcxnxnc xz
      </p>
  </div>
</div>
