<div class="main" ><h3 style="color: white; text-align: center; margin: 0">My FILMS</h3>
  <span appNoAuthUser style="color: red">{{notAuthUser}}</span>
  <div class="row">
    <div appUserAuth *ngFor="let film of uFilms" class="col-lg-3 film__div" style="margin-bottom: 6%; text-align: center; margin-left: 1%">
      <button class="btn-outline-danger" (click)="deleteUserFilm(film.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
      <a class="film"  [routerLink]="'/film/' + film.id"><img class="film__image"
         [src]="film.picture" alt=""><h6>{{film.name}}</h6></a>
    </div>
  </div>
</div>

