main{
  background: #000;
  width: 100%;
}

/*.film{*/
  /*background: #d2d5d8;*/
  /*width: 20%;*/
  /*height: 30%;*/
  /*display: inline-block;*/
  /*border: 1px solid #4CAF50;*/
  /*margin-left: 1%;*/
/*}*/
.film{
  opacity: 0.5;
}

.film:hover{
  opacity: 1;
}
.film:hover > h6{
  color: #e4e4e4;
}
