<h5 [routerLink]="'/film/' + currentFilm.id" class="off">Turn off</h5>
<div class="roles">
  <div class="rol"><div class="rolImg"><img src="assets\a1.jpg" alt="" width="100%" height="90%"></div><div>Christian Bale</div></div>
  <div class="rol"><div class="rolImg"><img src="assets\a2.jpg" alt="" width="100%" height="90%"></div><div>Heath Ledger</div></div>
  <div class="rol"><div class="rolImg"><img src="assets\a3.jpg" alt="" width="100%" height="90%"></div><div>Gary Oldman</div></div>
  <div class="rol"><div class="rolImg"><img src="assets\a4.jpg" alt="" width="100%" height="90%"></div><div>Michael Caine</div></div></div>

