<div class="roles">
  <div class="rol"><div class="rolImg"><img src="assets\a1.jpg" alt="" width="100%" height="90%"></div>Christian Bale</div>
  <div class="rol"><div class="rolImg"><img src="assets\a2.jpg" alt="" width="100%" height="90%"></div>Heath Ledger</div>
  <div class="rol"><div class="rolImg"><img src="assets\a3.jpg" alt="" width="100%" height="90%"></div>Gary Oldman</div>
  <div class="rol"><div class="rolImg"><img src="assets\a4.jpg" alt="" width="100%" height="90%"></div>Michael Caine</div></div>

<a href="#">{{testvar}}</a>
