<header>
  <div class="header">
    <nav class="top-menu">
      <a routerLink="">
        <div class="logo"><img src="assets/logo.png" alt="" width="100%" height="100%" style="border-radius: 50%"></div>
      </a>
      <div class="userMenu">
        <img src="assets/user .png" alt="" class="imgUser">
        <ul class="dropDownMenu">
          <li class="liMenu"><a routerLink="userpage">My Page</a></li>
          <li class="liMenu"><a href="#">Friends</a></li>
          <li class="liMenu"><a href="#">Playlist</a></li>
          <li class="liMenu"><a href="#">Settings</a></li>
          <li class="liMenu"><a href="#">Log Out</a></li>
        </ul>
      </div>
      <form action="" method="get" class="search">
        <input type="search" name="" placeholder="Search" class="input"/>
        <input type="submit" name="" value="" class="submit"/>
      </form>
      <ul class="menu-main f-left">
        <li><a routerLink="news">News</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="support">Support</a></li>

        <li><a routerLink="contacts">Contact</a></li>
        <li><a routerLink="addfilm">Add Film</a></li>
      </ul>
    </nav>
  </div>

</header>

<router-outlet></router-outlet>


<footer>
  <div class="container-fluid" style="height: 100px; background: black; margin-top: 75px">
    <div class="row" style="text-align: center; height: 100%">
      <div class="col-lg-4 logo" style="bottom: 20px"><a href=""><img src="assets/logo.png" alt="" width="40%" height="100%" style="border-radius: 50%"></a>
      </div>
      <div class="col-lg-4" style=""><a style="color: white;" routerLink="userpage">MY CINEMA</a>
      </div>
      <div class="col-lg-4">
        <a style="color: white; margin-right: 15px" href=""><i class="fab fa-facebook-square" style="font-size: 22px;"></i></a>
        <a style="color: white; margin-right: 15px" href=""><i class="fab fa-instagram" style="font-size: 22px;"></i></a>
        <a style="color: white; margin: 0" href=""><i class="fab fa-linkedin" style="font-size: 22px"></i></a>
      </div>
    </div>
  </div>
</footer>
