<header>
  <div class="header">
    <nav class="top-menu">
      <a href="#">
        <div class="logo"><img src="assets/logo.png" alt="" width="100%" height="100%" style="border-radius: 50%"></div>
      </a>
      <div class="userMenu">
        <img src="assets/user .png" alt="" class="imgUser">
        <ul class="dropDownMenu">
          <li class="liMenu"><a href="#">My Page</a></li>
          <li class="liMenu"><a href="#">Friends</a></li>
          <li class="liMenu"><a href="#">Playlist</a></li>
          <li class="liMenu"><a href="#">Settings</a></li>
          <li class="liMenu"><a href="#">Log Out</a></li>
        </ul>
      </div>
      <form action="" method="get" class="search">
        <input type="search" name="" placeholder="Search" class="input"/>
        <input type="submit" name="" value="" class="submit"/>
      </form>
      <ul class="menu-main f-left">
        <li><a href="">News</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Support</a></li>

        <li><a href="">Contact</a></li>
        <li><a href="/addfilm">Add Film</a></li>
      </ul>
    </nav>
  </div>

</header>

<div class="slider">
  <div class="slid"><img [src]="image" alt="" width="100%" height="100%"></div>
  <div class="next">
  </div>
</div>


<section>
  <div class="container" style="margin-top: 50px; height: 100px">
    <div class="row " style=" text-align: center; height: 30px;">
      <div class="menu2 d-flex col-lg-12" style="padding: 0; margin-top: 10px">
        <a href="#">Фентезі</a>
        <a href="#">Жахи</a>
        <a href="">Мелодрами</a>
        <a href="">Історичні</a>
        <a href="">Комедії</a>
      </div>
    </div>

    <div class="row" style=" text-align: center;">
      <div class="menu2 d-flex col-lg-12" style="padding: 0; margin-top: 20px">
        <a href="#">Пригоди</a>
        <a href="#">Біографія</a>
        <a href="">Спорт</a>
        <a href="">Мультфільми</a>
        <a href="">Серіали</a>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container" style="box-shadow: 3px 0 7px rgba(0, 0, 0, .3);">
    <div class="row">
      <div class="content1"><h2 style="color: white; font-style: italic; margin-top: 20px" class="text-center">
        Reccomend</h2>
        <div class="row justify-content-center" style="margin-top: 50px; text-align: center; align-items: center;">
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>

        </div>
      </div>
      <div class="content2">
        <div style="height: 75px; width: 100%; border-bottom: 1px solid #404040; margin: 0"
             class="text-center container"><p style="color: white; margin: 0">Сортувати по:</p>
          <div class="row justify-content-center" style="margin: 0">
            <a style="margin: 15px 5px 10px 5px; width: 150px; height: 30px" class="col-lg-3 sorted__a" href="">Дата
              додавання</a>
            <a style="margin: 15px 5px 10px 5px; width: 100px; height: 30px" class="col-lg-3 sorted__a" href="">Рік
              випуску</a>
            <a style="margin: 15px 5px 10px 5px; width: 100px; height: 30px" class="col-lg-3 sorted__a" href="">Топ
              переглядів</a>
          </div>
        </div>
        <div class="container" style="border-bottom: 1px solid #404040; ">
          <h4 style="color: white; margin-left: 65px; margin-top: 10px">Captain America</h4>
          <div class="row">
            <div class="col-lg-5" style="padding: 0; margin: 10px 10px 0 20px;">
              <a class="films__rec2" href="#"><img style="width: 100%; height: 400px;" src="assets/films2_rec.jpg"
                                                   alt=""></a>
              <a style="margin: 30px auto 30px 0; width: 100px" class="btn btn-secondary" href="">Дивитись</a>
              <a style="margin: 30px auto 30px 5px; width: 100px" class="btn btn-secondary" href="">Трейлер</a>
            </div>
            <div class="col-lg-6" style="color: rgba(147,151,147,0.91); margin-top: 10px;"><p>
              <span style="font-weight: 900">Год выпуска:</span> 2011 <br>
              Страна: США <br>
              Качество: HD 720p <br>
              Перевод: Дублированный <br>
              Продолжительность: 02:04 <br>
              Премьера (Украина): <span style="color: brown">28 июля 2011</span> <br>
              Жанр: фантастика, боевик, приключения <br><br><br>
              События фильма «Первый мститель» разворачиваются во время Второй мировой войны. Стивен Роджерс — настоящий
              патриот, который рвётся на фронт. Молодой человек уже предпринял несколько попыток, но каждый раз получал
              отказ из-за очень слабого здоровья. Тем не менее герой не сдаётся. Узнав о том, что его лучший друг Баки
              Барнс на днях отбывает в самое пекло, Стив предпринял очередную попытку и обманул медицинскую комиссию.
            </p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container-fluid" style="height: 100px; background: rgba(236,238,236,0.69); margin-top: 300px">
    <div class="row" style="text-align: center; height: 100%">
      <div class="col-lg-4" style="border: 1px solid black; height: 100%"><a style="color: white;" href="">Contacts</a>
      </div>
      <div class="col-lg-4" style="border: 1px solid black; height: 100%"><a style="color: white;" href="">About Us</a>
      </div>
      <div class="col-lg-4" style="border: 1px solid black; height: 100%"><a style="color: white;" href="">Support</a>
      </div>
    </div>
  </div>
</footer>
