<section>
  <div class="container" style="box-shadow: 3px 0 7px rgba(0, 0, 0, .3);">
    <div class="row">
      <div class="content1"><div style="height: 75px; border-bottom: 1px solid #404040; margin: 0"><p
        style="color: white; margin-top: 20px; font-size: 30px"
        class="text-center">
        Reccomend</p></div>
        <div class="row justify-content-center" style="margin-top: 50px; text-align: center; align-items: center;">
        </div>
      </div>
      <div class="content2">
        <div style="height: 75px; width: 100%; border-bottom: 1px solid #404040; margin: 0"
             class="text-center container"><p style="color: white; margin-top: 20px; font-size: 30px">Скоро в
          прокаті:</p>

        </div>
        <div class="container" style="border-bottom: 1px solid #404040; ">
          <div class="row">
            <div class="col-lg-5" style="padding: 0; margin: 10px 10px 0 20px; text-align: center">
              <a class="film__label" routerLink="/film"><h4 style="margin-bottom: 15px">Я ненавиджу дітей</h4></a>
              <a class="films__rec2" href="#"><img style="width: 100%; height: 400px;" src="assets/news1.png"
                                                   alt=""></a>
              <div style="text-align: left"><a style="margin: 30px auto 30px; width: 100px" class="btn btn-secondary" href="">Трейлер</a></div>
            </div>
            <div class="col-lg-6" style="color: rgba(147,151,147,0.91); margin-top: 38px;"><p>
              <span style="font-weight: 900">Год выпуска:</span> 2019 <br>
              Страна: США <br>
              Качество: HD 720p <br>
              Перевод: Дублированный <br>
              Продолжительность: 02:04 <br>
              Премьера (Украина): <span style="color: brown">28 июля 2011</span> <br>
              Жанр: фантастика, боевик, приключения <br><br><br>
              Главный герой американской кинокомедии «Я ненавижу детей» - симпатичный и веселый холостяк. В годы своей
              беззаботной юности он от души развлекался с красотками и вел бесшабашный образ жизни. И вот, наконец, он
              повзрослел, возмужал и надумал жениться на очаровательной Синди. Ник Пирсон уже в предвкушении свадьбы и
              медового месяца, как вдруг его мечты рухнули. Неожиданно к нему явился долговязый подросток в
              сопровождении странного типа и заявил, что он - его родной сын.

              Новоявленный папаша в шоке и хочет немедленно избавиться от нежеланного сынишки. Надо быстренько отправить
              его к мамочке. Но сынок не желает признаваться, где его дом, и Нику надо самому разыскать среди своих
              бывших пассий именно ту девушку, которая тринадцать лет назад родила ему ребенка. Это будет немыслимо
              трудно, ведь любовниц был не один десяток! Своеобразная троица отправляется в путешествие по всей стране в
              поисках мамы...
            </p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

