<ul class="musicList">
  <li>
    <h4 style="color: white">Sound name - name</h4>
    <audio #audioOption controls>
      <source src="assets/faded.mp3" type="audio/mp3">
    </audio>
  </li>

  <li>
    <h4 style="color: white">Sound name - name</h4>
    <audio #audioOption controls>
      <source src="assets/faded.mp3" type="audio/mp3">
    </audio>
  </li>

  <li>
    <h4 style="color: white">Sound name - name</h4>
    <audio #audioOption controls>
      <source src="assets/faded.mp3" type="audio/mp3">
    </audio>
  </li>

</ul>





