<h5 [routerLink]="'/film/' + currentFilm.id" class="off">Turn off</h5>
<ul class="musicList">
  <li *ngFor="let audio of currentFilm.audio">
    <h4 style="color: white">{{audio.substr(22)}}</h4>
    <audio #audioOption controls class="audio">
      <source [src]="audio" type="audio/mp3">
    </audio>
  </li>

  <!--<li>-->
    <!--<h4 style="color: white">Sound name - name</h4>-->
    <!--<audio #audioOption controls class="audio">-->
      <!--<source src="assets/faded.mp3" type="audio/mp3">-->
    <!--</audio>-->
  <!--</li>-->

  <!--<li>-->
    <!--<h4 style="color: white">Sound name - name</h4>-->
    <!--<audio #audioOption controls class="audio">-->
      <!--<source src="assets/faded.mp3" type="audio/mp3">-->
    <!--</audio>-->
  <!--</li>-->

</ul>





