
<div class="container" style="text-align: center">
  <p style="color: #e4e4e4">All fields are required!</p>
  <form #form ="ngForm" class="register">
    <div style="margin-top: 30px">
      <h4 >Username:</h4><input maxlength="10" required minlength="4" class="input" type="text"
                   ngModel name="username"/>
      <h4 >Password:</h4><input maxlength="12"  minlength="4" required class="input" type="password"
                    ngModel name="password"/>
      <h4>Confirm Password:</h4><input  maxlength="12"  minlength="4" required class="input" type="password"
                                                    ngModel name="Confirmpassword"/>
      <h4> E-mail:</h4><input  minlength="7" required class="input" type="email"
                                                 ngModel name="email"/>
      <p style="color: coral">{{mes}}</p>
      <input (click)="reg(form)" [disabled]="!form.valid" class="btn-secondary submit"  type="submit" value="Sign In"/>
    </div>
  </form>
</div>


