
input,
textarea {
  outline:none;
}

/*.inp:hover{*/
  /*border: 2px solid #4e555b;*/
/*}*/

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
