<div class="main container-fluid main-div"><h3 class="h">People </h3>
  <form #form ="ngForm" method="get" class="search" id="search">
    <input (keydown)="sendSearchForm(form)" type="search" ngModel name="search" placeholder="Search" class="input"/>
    <input style="outline: none;" (click)="sendSearchForm(form)" type="submit" value=""  class="submit"/>
  </form>
  <div class="row myrow" >

    <div *ngFor="let user of partUser"  class="partUser" [routerLink]="'/userpage/' + user.id">
      <div class="col-lg-9 mycol-lg" >
        <label><img class="user-img" [src]="user.avatar"></label>
        <p style="color: aqua">{{user.username}}</p>
      </div>
    </div>
  </div>
   <div class="divbtn">
     <img  src="/assets/l.png" id="back" (click)="back()"/>
     <img src="/assets/r.png" id="next" (click)="next()">/>
   </div>
</div>
