<!--<form (ngSubmit)="sendForm()">-->
  <!--<input type="text" name="name"-->
  <!--[(ngModel)]="film.name">-->
  <!--<input type="text" name="aboutFilm"-->
  <!--[(ngModel)]="film.aboutFilm">-->
  <!--<input type="text" name="year"-->
  <!--[(ngModel)]="film.year">-->
  <!--<input type="text" name="country"-->
  <!--[(ngModel)]="film.country">-->
  <!--<input type="text" name="quality"-->
  <!--[(ngModel)]="film.quality">-->
  <!--<input type="file" name="picture"-->
  <!--[(ngModel)]="film.picture">-->
  <!--<button>Send</button>-->
<!--</form>-->

<form #form="ngForm" (ngSubmit)="sendForm(form)">
  <label>
    <input type="text" ngModel name="name">
  </label>
  <label>
    <input type="text" ngModel name="aboutFilm">
  </label>
  <label>
    <input type="text" ngModel name="year">
  </label>
  <label>
    <input type="text" ngModel name="country">
  </label>
  <label>
    <input type="text" ngModel name="quality">
  </label>
  <!--<input type="file" ngModel="" name="picture">-->
  <input type="submit">
</form>


<section>
  <div class="container" style="box-shadow: 3px 0 7px rgba(0, 0, 0, .3);">
    <div class="row">
      <div class="content1">
        <div style="height: 75px; border-bottom: 1px solid #404040; margin: 0"><p
          style="color: white; margin-top: 20px; font-size: 30px"
          class="text-center">
          Reccomend</p></div>
        <div class="row justify-content-center" style="margin-top: 50px; text-align: center; align-items: center;">
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>
          <a style="text-decoration: none" href="#" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" src="assets/films1_rec.jpg" alt=""><span>Batman</span></a>

        </div>
      </div>
      <div class="content2">
        <div style="width: 100%; border-bottom: 1px solid #404040; margin: 0"
             class="text-center container"><p style="color: white; margin: 0; font-size: 30px">Сортувати по:</p>
          <div class="row justify-content-center" style="margin: 0">
            <a style="margin: 15px 5px 4px 5px; width: 150px; height: 30px" class="col-lg-3 sorted__a" href="">Дата
              додавання</a>
            <a style="margin: 15px 5px 4px 5px; width: 100px; height: 30px" class="col-lg-3 sorted__a" href="">Рік
              випуску</a>
            <a style="margin: 15px 5px 4px 5px; width: 100px; height: 30px" class="col-lg-3 sorted__a" href="">Топ
              переглядів</a>
          </div>
        </div>
        <div *ngFor="let f of films" class="container" style="border-bottom: 1px solid #404040; ">
          <div class="row">
            <div class="col-lg-5" style="padding: 0; margin: 10px 10px 0 20px; text-align: center">
              <a class="film__label" routerLink="film"><h4 style="margin-top: 15px">{{f.name}}</h4></a>
              <a class="films__rec2" href="#"><img style="width: 100%; height: 400px;" src="{{f.picture}}"
                                                   alt=""></a>
              <div style="text-align: left"><a style="margin: 30px auto 30px 0; width: 100px" class="btn btn-secondary"
                                               href="">Дивитись</a>
                <a style="margin: 30px auto 30px 5px; width: 100px" class="btn btn-secondary" href="">Трейлер</a></div>
            </div>
            <div class="col-lg-6" style="color: rgba(147,151,147,0.91); margin-top: 55px;"><p>
              <span style="font-weight: 900">Год выпуска:</span>{{f.year}}<br>
              Страна: {{f.country}} <br>
              Качество: {{f.quality}} <br>
              {{f.aboutFilm}}<br>
            </p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
