form {
  margin: 0 auto;
  border: 2px solid white;
  width: 45%;
  color: white
}
input{
  display: block;
  margin-top: 1%;
}
.f-left {
  float: left;
}
.inline-block{
  display: inline-block;
}
.content1 {
  width: 35%;
  background: #555555;
  border: 1px solid rgba(143,146,143,0.91);
  border-top-left-radius: 20px;
}

.content2 {
  border-top-right-radius: 20px;
  width: 65%;
  background: rgba(37,40,37,0.91);
  border: 1px solid rgba(143,146,143,0.91);
}

.content__a {
  width: 40%;
  background: #EEEEEE;
  margin: 50px 5px;
}

.menu2  a {
  font-style: italic;
  margin: 5px;
  border: 1px solid #333;
  color: black;
  height: 30px;
  width: 33.3%;
  background: rgba(148,148,148,0.91);
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  opacity: 0.9;
}
.menu2 > a:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background: rgba(210,210,210,0.91);
  color: whitesmoke;
}

.films__rec1{
  background: rgba(148,148,148,0.91);
  width: 50%;
  height: 250px;
  padding: 0;
  margin: 15px 5px;
  -webkit-transition: 0.5s;
}

.films__rec1:hover{
  background: rgba(195,198,195,0.91);
  transition: 0.5s;
}
.films__rec2{
  -webkit-transition: 0.5s;
}
.films__rec2:hover{
  transition: 0.5s;
  opacity: 0.7;
}

.films__rec:hover{
  background: rgba(210,210,210,0.91);
}

.content1 span{
  text-decoration: none;
  color: black;
}

.sorted__a{
  background: rgba(62,66,62,0.91);
  color: white;
  border-radius: 20px;
}

.sorted__a:hover{
  background: rgba(173,177,173,0.92);
  text-decoration: none;
}

.film__label{
  color: white;
}

.film__label:hover{
  text-decoration: none;
  color: brown;
}


ngb-pagination ::ng-deep ul {
  margin-left: 50%;

}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: #474945 !important;
  color: white;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #000000 !important;

}
@media (max-width: 600px) {
  .content1 {
    display: none;
  }
  .content2 {
    width: 100%;
  }

}
@media (max-width: 1000px) {
  .films__rec1{
    width: 80%;
  }

}
