.underAvatar {
  position: relative;
}

.dropUnderAvatar {
  display: none;
  background: rgba(248, 248, 248, 0.92);
  position: absolute;
  width: 300px;
  list-style-type: none;
  border: 1px solid #545454;
  border-radius: 20px;
}

.dropUnderAvatar > li > a {
  color: #111111;
  text-decoration: none;
}

.dropUnderAvatar > li > a:hover {
  color: #545454;
}

.underAvatar:hover > .dropUnderAvatar {
  display: block;
}

.avatar {
  display: none;
}

.avatar_input {
  cursor: pointer;
  margin: 0;
}

.avatar_input:hover {
  color: #545454;
}

.films__rec1 {
  text-decoration: none;
  color: black;
  background: #555557;
  width: 50%;
  height: 250px;
  padding: 0;
  margin: 15px 5px;
  -webkit-transition: 0.5s;
}

.films__rec1:hover {
  background: rgba(195, 198, 195, 0.91);
  transition: 0.5s;
}

.c1 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background: #434345;
  margin:0;
  border: 1px solid rgba(143, 146, 143, 0.91);
  border-top-left-radius: 20px;
}

.c2 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background: #333333;
  color: white;
  position: static;
  border: 1px solid rgba(143, 146, 143, 0.91);
  border-top-right-radius: 20px;
  margin: 0
}

.c3 {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin-top: 150px;
  color: white;
  text-align: center;
  border: 2px solid rgba(143, 146, 143, 0.91);
  background: #3c3c3e;
  border-bottom-left-radius: 20px;

}

.ro {
  margin-left: auto;
  margin-right: 0;
  padding: 0;
}

.un {
  color: white;
  text-align: left;
  margin-top: 10%;
}


@media (max-width: 992px){

  .s{
    justify-content: center;
    align-items: center;
    display: flex;

  }

  .c2 {
    width: 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
  }

  .c1 {
    text-align: center;
    border-top-right-radius: 20px;

  }

  .c3 {
    opacity: 0;
    bottom: 999em;
  }

  .s {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .ua {
    width: 5%;
  }

  .ro {
    bottom: 350px;
    margin: 0 auto;
    width: 90%;
  }


  .un {
    margin-top: 0;
    text-align: center;
  }
}
