<div class="container-fluid">

<div class="row">
  <div style="text-align: center; border-radius: 50%; background: yellow; height: 200px" class="col-lg-3">Some avatar
    <input *ngIf="showUnshow" type="file">
  </div>
  <div style="background: green; height: 200px; position: static" class="col-lg-9">{{user.username}}
  </div>
</div>
</div>

    <div  style=" width: 1.5%" class="underAvatar">
      <i class="fas fa-angle-down" style="font-size: 30px; color: white"></i>
      <ul class="dropUnderAvatar">
        <li><a routerLink="usersfriends">My friends</a></li>
        <li><a routerLink="userfilms">My films</a></li>
      </ul>
    </div>
<button (click)="subscribes()" *ngIf="subButton">Subscribe</button>
    <div style="margin-left: 25%; margin-top: 0">
      <router-outlet></router-outlet>
    </div>



