.search {
  float: right;
  width: 20%;
  margin: 1%;
  position: relative;
  top: 0;
}

.search input {

  border: none;
}

.header {
  width: 100%;
  margin-top: 0;

}

.search .input {
  width: 100%;

  padding: 8px 37px 9px 15px;

  box-sizing: border-box;
  border-radius: 20px;
  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}

.search .submit {

  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
  opacity: 0.5;
}

.search .submit:hover {
  opacity: 0.8;
}

.imgUser {
  float: right;
  background: #ffffff;
  border-radius: 100%;
  -webkit-transition: 1s ease;
}

.userMenu {
  float: right;
  position: relative;


}

.userMenu:hover > .dropDownMenu {
  transition: 2s;
  display: block;
  border-radius: 10%;

}

.imgUser:hover {
  background: rgba(142, 165, 168, 0.91);
  border-radius: 100%;
  transition: 1s;
}

.dropDownMenu {

  border: 1px solid black;
  background: rgba(248, 248, 248, 0.92);
  color: rgba(167, 170, 173, 0.91);
  margin-top: 60px;
  top: -8px;
  text-align: center;
  list-style-type: none;
  display: none;
  position: absolute;
  left: -200px;
  padding: 0;
}

.liMenu {
  height: 40px;
  width: 250px;
  padding: 0;
  font-style: italic;
}

.liMenu a {
  text-decoration: none;
  color: black;
}

.liMenu:hover {
  color: black;
  font-size: 20px;
  transition: 0.3s;
}

/*@import url('https://fonts.googleapis.com/css?family=Arimo');*/
.top-menu {
  background: rgb(0, 0, 0);
  box-shadow: 3px 0 7px rgba(0, 0, 0, .3);
  padding: 20px;

}

.top-menu:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  display: inline-block;
  float: left;
  width: 120px;
  height: 70px;
  -webkit-transition: 0.5s;
}

.logo:hover{
  opacity: 0.8;
  transition: 0.5s;
}

.menu-main {
  margin-left: 50px;
  list-style: none;
  padding: 0;

}

.f-left {
  float: left;
}

.menu-main li {
  display: inline-block;
}

.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  transition: .3s linear;
}

.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: white;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}

.menu-main a:hover:before {
  opacity: 1;
}

@media (max-width: 660px) {
  .menu-main {
    float: none;
    padding-top: 20px;

  }

  .top-menu {
    text-align: center;
    padding: 20px 0 0 0;
  }

  .menu-main a {
    padding: 0 10px;
  }

  .menu-main a:before {
    transform: rotate(45deg) translateX(-6px);
  }
}

@media (max-width: 600px) {
  .menu-main li {
    display: block;
  }
}


.menu2 a:hover {
  color: rgba(158, 161, 164, 0.91);
}

.slider {
  height: 400px;
  width: 100%;
}

.slid {
  height: 100%;
  width: 100%;
  background: red;
}


.content1 {
  width: 35%;
  background: #555555;
  border: 1px solid rgba(143,146,143,0.91);
  border-top-left-radius: 20px;
}

.content2 {
  border-top-right-radius: 20px;
  width: 65%;
  background: rgba(37,40,37,0.91);
  border: 1px solid rgba(143,146,143,0.91);
}

.content__a {
  width: 40%;
  background: #EEEEEE;
  margin: 50px 5px;
}

.menu2  a {
  font-style: italic;
  margin: 5px;
  border: 1px solid #333;
  color: black;
  height: 30px;
  width: 33.3%;
  background: rgba(148,148,148,0.91);
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  opacity: 0.9;
}
.menu2 > a:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background: rgba(210,210,210,0.91);
  color: whitesmoke;
}

.films__rec1{
  background: rgba(148,148,148,0.91);
  width: 50%;
  height: 250px;
  padding: 0;
  margin: 15px 5px;
  -webkit-transition: 0.5s;
}

.films__rec1:hover{
  background: rgba(195,198,195,0.91);
  transition: 0.5s;
}
.films__rec2{
  -webkit-transition: 0.5s;
}
.films__rec2:hover{
  transition: 0.5s;
  opacity: 0.7;
}

.films__rec:hover{
  background: rgba(210,210,210,0.91);
}

.content1 span{
  text-decoration: none;
  color: black;
}

.sorted__a{
  background: rgba(62,66,62,0.91);
  color: white;
  border-radius: 20px;
}

.sorted__a:hover{
  background: rgba(173,177,173,0.92);
  text-decoration: none;
}

.film__label{
  color: white;
}

.film__label:hover{
  text-decoration: none;
  color: brown;
}

