<div class="slider">
  <div class="slid"><img [src]="image" alt="" width="100%" height="100%"></div>
  <div class="next">
  </div>
</div>

<section id="exists">
  <div class="container " style="margin-top: 20px;">
      <div class="menu2 row justify-content-center" style="padding: 0;">
        <a class="col-lg-2" (click)="SearchBy('Fantasy')">Фентезі</a>
        <a class="col-lg-2" (click)="SearchBy('Horror')">Жахи</a>
        <a class="col-lg-2" (click)="SearchBy('Drama')">Драми</a>
        <a class="col-lg-2" (click)="SearchBy('Historical')">Історичні</a>
        <a class="col-lg-2" (click)="SearchBy('Comedy')">Комедії</a>

        <a class="col-lg-2" (click)="SearchBy('Adventure')">Пригоди</a>
        <a class="col-lg-2" (click)="SearchBy('Biography')">Біографія</a>
        <a class="col-lg-2" (click)="SearchBy('Sport')">Спорт</a>
        <a class="col-lg-2" (click)="SearchBy('Cartoons')">Мультфільми</a>
        <a class="col-lg-2" (click)="SearchBy('Serials')">Серіали</a>
      </div>
  </div>
</section>
<section>
<h3  style="color: brown; text-align: center">{{filmExists}}</h3>

  <div class="container" style="box-shadow: 3px 0 7px rgba(0, 0, 0, .3);">
    <div class="row">
      <div class="content1">
        <div style="height: 75px; border-bottom: 1px solid #404040; margin: 0"><p
          style="color: white; margin-top: 20px; font-size: 30px"
          class="text-center">Reccomend</p></div>
        <div class="row" style="margin-top: 50px; text-align: center; align-items: center ; margin-left: 7%">
          <a *ngFor="let top of topTen" style="text-decoration: none" [routerLink]="'/film/' + top.id" class="col-lg-5 films__rec1"><img
            style="width: 90%; height: 80%; margin-top: 7px;" [src]="top.picture" alt=""><span>{{top.name}}</span></a>
        </div>
      </div>
      <div class="content2">

        <div style="width: 100%; border-bottom: 1px solid #404040; margin: 0"
             class="text-center container">
          <div class="row justify-content-center" style="margin: 0">
            <a style=" color:white; margin: 15px 5px 4px 5px; width: 150px; height: 30px" class="col-lg-3 sorted__a"
               (click)="sortByRating()">Rating</a>
            <a style="margin: 15px 5px 4px 5px; width: 100px; color: white;height: 30px" class="col-lg-3 sorted__a"
               (click)="sortByYear()">Year</a>
            <form #form="ngForm" method="get" class="search col-lg-5" id="search" >
              <input (keydown)="sendSearchForm(form)" type="search" ngModel name="search" placeholder="Search"
                     class="input"/>
              <input (click)="sendSearchForm(form)" type="submit" value="" class="submit"/>
            </form>
          </div>
        </div>
        <div *ngFor="let f of partFilms" class="container" style="border-bottom: 1px solid #404040; ">
          <div class="row">
            <div class="col-lg-5" style="padding: 0; margin: 10px 10px 0 20px; text-align: center">
              <a class="film__label" [routerLink]="'/film/' + f.id"><h4 style="margin-top: 15px">{{f.name}}</h4></a>
              <a class="films__rec2" [routerLink]="'/film/' + f.id"><img style="width: 100%; height: 400px;"
                                                                         alt="" [src]="f.picture"></a>
              <div style="text-align: left; margin: 20px 0 30px;" class="row">
                <a style="border: 1px solid black; color: white" class="btn btn-secondary col-lg-4"
                                               >Дивитись</a>
                <a style="color: white; border: 1px solid black" class="btn btn-secondary col-lg-4"
                   (click)="ShowTrailer(f.id)">Трейлер</a>
                <a style="color: white; border: 1px solid black"
                   class="btn btn-secondary col-lg-4" (click)="addUserFilm(f.id)">ADD</a>
              </div>
            </div>
            <div class="col-lg-6" style=" color: rgba(147,151,147,0.91); margin-top: 55px;"><p>
              <span style="font-weight: 900">Год выпуска:</span>{{f.year}}<br>
              Страна: {{f.country}} <br>
              >Качество: {{f.quality}} <br>
              {{f.aboutFilm}}<br>
            </p></div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<ngb-pagination style="margin: 0;" [collectionSize]="collectionSize"
                [(page)]="page" [maxSize]="5" [pageSize]="maxSize" [rotate]="true" [directionLinks]="true"
                (pageChange)="onPageChange($event)">
</ngb-pagination>
<dialog id="dialog">
  <a id="closeT"  (click)="close()"></a>
  <video id="player1" controls (click)="toggleVideo()" src="{{currentTrailer}}" #videoPlayer width="100%" height="100%" >
    Browser not supported
  </video>
</dialog>
